* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #a37b73;
}

header {
  background-color: #dbbea1;
}

header nav .logo {
  height: 70px;
  width: 70px;
  padding: 10px;
}
header nav #navbarNav .navbar-nav {
  gap: 50px;
  font-weight: 500;
  font-size: 1.5rem;
}
header nav #navbarNav .navbar-nav .nav-item .nav-link {
  color: black;
  padding: 1rem;
}
header nav #navbarNav .navbar-nav .nav-item .nav-link:hover {
  background-color: #3f292b;
  color: white;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.466), rgba(0, 0, 0, 0.473)), url(../img/cup-coffee-with-heart-drawn-foam.jpg);
  width: 100%;
  height: 90vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.main .hero h1 {
  color: white;
  font-size: 80px;
}
.main .hero h2 {
  color: white;
  font-size: 40px;
}
.main .container-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  margin-top: 9rem;
  margin-bottom: 9rem;
  padding: 10px;
  color: white;
}
.main .container-info .div-home {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.23), 0 6px 6px rgba(0, 0, 0, 0.27);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 20rem;
  height: 28rem;
  padding: 10px;
  margin: 2rem;
  border-radius: 15px;
  border: 4px solid #3f292b;
  background-color: #3f292b;
  transition: 1s;
}
.main .container-info .div-home:hover {
  transform: scale(1.1);
}
.main .container-info .div-home .imagen-home {
  width: 50%;
  margin-top: 15%;
  margin-bottom: 15%;
}

.main .titulo-cafes {
  margin-top: 3rem;
  padding: 20px;
  font-size: 3rem;
  font-weight: 700;
  color: white;
}
.main .container-cafes {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.23), 0 6px 6px rgba(0, 0, 0, 0.27);
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  justify-content: center;
  margin-bottom: 10rem;
  background-color: #3f292b;
  border-radius: 20px;
}
.main .container-cafes .tarjeta-cafe {
  width: 20rem;
  height: 20rem;
  perspective: 1000px;
  margin: 4rem;
}
.main .container-cafes .tarjeta-cafe:hover .contenido-cafe {
  transform: rotateY(180deg);
}
.main .container-cafes .tarjeta-cafe .contenido-cafe {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
}
.main .container-cafes .tarjeta-cafe .frente,
.main .container-cafes .tarjeta-cafe .dorso {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.23), 0 6px 6px rgba(0, 0, 0, 0.27);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main .container-cafes .tarjeta-cafe .frente {
  background-color: #dbbea1;
}
.main .container-cafes .tarjeta-cafe .frente p {
  background-color: #dbbea1;
  color: black;
  font-weight: 600;
  padding: 0.5rem;
  width: 100%;
  text-align: center;
  margin: 0;
}
.main .container-cafes .tarjeta-cafe .dorso {
  background-color: #dbbea1;
  color: black;
  transform: rotateY(180deg);
  padding: 1rem;
  text-align: center;
}
.main .container-cafes .tarjeta-cafe .dorso h3 {
  margin-bottom: 0.5rem;
}
.main .container-cafes .tarjeta-cafe .dorso ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.main .container-cafes .tarjeta-cafe .cafe {
  width: 20rem;
  height: 20rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.23), 0 6px 6px rgba(0, 0, 0, 0.27);
  border: 0 solid white;
}
.main .container-cafes .tarjeta-cafe .mi--cafe1 {
  background-position: center;
  background-size: cover;
  background-image: url("../img/cafe-espresso.jpg");
}
.main .container-cafes .tarjeta-cafe .mi--cafe2 {
  background-position: center;
  background-size: cover;
  background-image: url("../img/cafe-americano.jpg");
}
.main .container-cafes .tarjeta-cafe .mi--cafe3 {
  background-position: center;
  background-size: cover;
  background-image: url("../img/cafe-capuchino.jpg");
}
.main .container-cafes .tarjeta-cafe .mi--cafe4 {
  background-position: center;
  background-size: cover;
  background-image: url("../img/cafe-con-leche.jpg");
}
.main .container-cafes .tarjeta-cafe .mi--cafe5 {
  background-position: center;
  background-size: cover;
  background-image: url("../img/cafe-latte.jpg");
}
.main .container-cafes .tarjeta-cafe .mi--cafe6 {
  background-position: center;
  background-size: cover;
  background-image: url("../img/cafe-mocca.jpg");
}

.main .titulo-tortas {
  margin-top: 3rem;
  padding: 30px;
  font-size: 3rem;
  font-weight: 700;
  color: white;
}
.main .container-tortas {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.23), 0 6px 6px rgba(0, 0, 0, 0.27);
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  justify-content: center;
  margin-bottom: 10rem;
  background-color: #3f292b;
  border-radius: 20px;
}
.main .container-tortas .tarjeta-torta {
  background-color: #dbbea1;
  margin: 4rem;
}
.main .container-tortas .tarjeta-torta p {
  background-color: #dbbea1;
  color: black;
  font-weight: 600;
  padding: 0.5rem;
  width: 100%;
  text-align: center;
  margin: 0;
}
.main .container-tortas .tarjeta-torta .tortas {
  width: 20rem;
  height: 20rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.23), 0 6px 6px rgba(0, 0, 0, 0.27);
  border: 0 solid white;
}
.main .container-tortas .tarjeta-torta .mi--torta1 {
  background-position: center;
  background-size: cover;
  background-image: url("../img/torta-brownie-limon.jpg");
}
.main .container-tortas .tarjeta-torta .mi--torta2 {
  background-position: center;
  background-size: cover;
  background-image: url("../img/torta-brownie.jpg");
}
.main .container-tortas .tarjeta-torta .mi--torta3 {
  background-position: center;
  background-size: cover;
  background-image: url("../img/torta-budin-zanahoria.jpg");
}
.main .container-tortas .tarjeta-torta .mi--torta4 {
  background-position: center;
  background-size: cover;
  background-image: url("../img/torta-budin-chocolate.jpg");
}
.main .container-tortas .tarjeta-torta .mi--torta5 {
  background-position: center;
  background-size: cover;
  background-image: url("../img/torta-dona.jpg");
}
.main .container-tortas .tarjeta-torta .mi--torta6 {
  background-position: center;
  background-size: cover;
  background-image: url("../img/torta-dona-chocolate.jpg");
}
.main .container-tortas .tarjeta-torta .mi--torta7 {
  background-position: center;
  background-size: cover;
  background-image: url("../img/torta-muffins-frambuesa.jpg");
}
.main .container-tortas .tarjeta-torta .mi--torta8 {
  background-position: center;
  background-size: cover;
  background-image: url("../img/torta-muffins-chips.jpg");
}
.main .container-tortas .tarjeta-torta .mi--torta9 {
  background-position: center;
  background-size: cover;
  background-image: url("../img/torta-medialuna.jpg");
}

.main .inicio-nosotros {
  background-image: linear-gradient(rgba(0, 0, 0, 0.466), rgba(0, 0, 0, 0.473)), url(../img/nosotros-principal.jpg);
  width: 100%;
  height: 90vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.main .inicio-nosotros h2 {
  color: white;
  font-size: 3rem;
  font-weight: 700;
}
.main .nuestra-historia {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.23), 0 6px 6px rgba(0, 0, 0, 0.27);
  display: flex;
  align-items: center;
  background-color: #3f292b;
  border-radius: 20px;
  padding: 4rem;
  margin: 4rem 9rem;
}
.main .nuestra-historia .imagen-historia {
  height: 40%;
  width: 40%;
}
.main .nuestra-historia .texto-nosotros {
  text-align: center;
  margin: 2rem;
  color: white;
}
.main .nuestra-historia .texto-nosotros h3 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
.main .nuestra-historia .texto-nosotros p {
  font-size: 1.2rem;
}
.main .invitacion {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.23), 0 6px 6px rgba(0, 0, 0, 0.27);
  display: flex;
  flex-direction: row-reverse;
  background-color: #3f292b;
  align-items: center;
  border-radius: 20px;
  padding: 4rem;
  margin: 4rem 9rem;
}
.main .invitacion .imagen-interior {
  height: 40%;
  width: 40%;
}
.main .invitacion .texto-invitacion {
  text-align: center;
  margin: 6rem 2rem;
  color: white;
  padding: 20px;
}
.main .invitacion .texto-invitacion h3 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
.main .invitacion .texto-invitacion p {
  font-size: 1.2rem;
}

.main .container-formulario {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.23), 0 6px 6px rgba(0, 0, 0, 0.27);
  background-color: #3f292b;
  padding: 6rem;
  margin: 8rem 4rem;
  border-radius: 20px;
  color: white;
}
.main .container-formulario .texto-contacto {
  color: white;
  text-align: center;
}
.main .container-formulario .texto-contacto h2 {
  font-size: 2.5rem;
}
.main .container-formulario .texto-contacto p {
  font-size: 1.1rem;
}
.main .boton-enviar {
  transition: 1s;
}
.main .boton-enviar:hover {
  transform: scale(1.1);
}

.footer {
  background-color: #dbbea1;
}
.footer section .container-fluid .row .logo {
  height: 70px;
  width: 70px;
  padding: 10px;
}
.footer section .container-fluid .row .redes {
  width: 40px;
  height: 40px;
}

@media (max-width: 1200px) {
  .main section .nuestra-historia {
    margin: 2rem 3rem;
    padding: 3rem;
  }
  .main section .nuestra-historia .texto-nosotros h3 {
    font-size: 2.3rem;
  }
  .main section .nuestra-historia .texto-nosotros p {
    font-size: 1.1rem;
  }
  .main section .invitacion {
    margin: 2rem 3rem;
    padding: 3rem;
  }
  .main section .invitacion .texto-invitacion h3 {
    font-size: 2.3rem;
  }
  .main section .invitacion .texto-invitacion p {
    font-size: 1.1rem;
  }
}
@media (max-width: 992px) {
  .main section .nuestra-historia {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
  }
  .main section .nuestra-historia .imagen-historia {
    height: 60%;
    width: 60%;
  }
  .main section .nuestra-historia .texto-nosotros h3 {
    font-size: 2rem;
  }
  .main section .nuestra-historia .texto-nosotros p {
    font-size: 1rem;
  }
  .main section .invitacion {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
  }
  .main section .invitacion .imagen-interior {
    height: 60%;
    width: 60%;
  }
  .main section .invitacion .texto-invitacion {
    margin: 2rem;
  }
  .main section .invitacion .texto-invitacion h3 {
    font-size: 2rem;
  }
  .main section .invitacion .texto-invitacion p {
    font-size: 1rem;
  }
}
@media (max-width: 553px) {
  .main .container-cafes .tarjeta-cafe .dorso h3 {
    font-size: 1.2rem;
  }
  .main .container-cafes .tarjeta-cafe .dorso p {
    font-size: 0.8rem;
  }
}
@media (max-width: 438px) {
  .main .container-cafes {
    width: 100%;
  }
  .main .container-tortas {
    width: 100%;
  }
  .main section .nuestra-historia {
    margin: 1rem;
    padding: 0.5rem;
  }
  .main section .nuestra-historia .texto-nosotros h3 {
    font-size: 1.2rem;
  }
  .main section .nuestra-historia .texto-nosotros p {
    font-size: 0.8rem;
  }
  .main section .invitacion {
    margin: 1rem;
    padding: 0.5rem;
  }
  .main section .invitacion .texto-invitacion {
    margin: 1rem;
  }
  .main section .invitacion .texto-invitacion h3 {
    font-size: 1.2rem;
  }
  .main section .invitacion .texto-invitacion p {
    font-size: 0.8rem;
  }
  .main .container-formulario {
    padding: 3rem;
  }
}

/*# sourceMappingURL=style.css.map */
