* {
    padding: 0;
    margin: 0;
}

header {
    background-color: #DBBEA1;
}

/* Inicio del header del Index  */

.navbar-nav {
    gap: 50px;
    font-weight: 500;
    font-size: 1.5rem;
}

.logo {
    height: 70px;
    width: 70px;
    padding: 10px;
}

.nav-link {
    color: black;
    padding: 1rem;
    transition: 1s;
}

.nav-link:hover {
    background-color: #3F292B;
    color: white;
}

/* Fin del header del Index */

/* Inicio del main del Index */
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #A37B73;
}

.hero {
    background-image: linear-gradient(rgba(0,0,0,0.466), rgba(0,0,0,0.473)), url(../img/cup-coffee-with-heart-drawn-foam.jpg);
    width: 100%;
    height: 90vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1 {
    color: white;
    font-size: 80px;
}

.hero h2 {
    color: white;
    font-size: 40px;
}

.container-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 9rem;
    margin-bottom: 9rem;
    padding: 10px;
    color: white;
}

.div-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 20rem;
    height: 28rem;
    padding: 10px;
    margin: 2rem;
    border-radius: 15px;
    border: 4px solid #3F292B;
    background-color: #3F292B;
    transition: 1s;
}

.div-home:hover {
    transform: scale(1.1);
}

.imagen-home {
    width: 50%;
    margin-top: 15%;
    margin-bottom: 15%;
}


/* Fin del main del Index */

/* Inicio del main de Cafes */

.titulo-cafes {
    margin-top: 3rem;
    padding: 20px;
    font-size: 3rem;
    font-weight: 700;
    color: white;
}

.container-cafes {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
    margin-bottom: 10rem;
    background-color: #3F292B;
    border-radius: 20px;
}

.cafe {
    width: 20rem;
    height: 20rem;
    box-shadow: 0 10px 20px rgba(0,0,0,0.23), 0 6px 6px rgba(0,0,0,0.27);
    border: 0 solid white;
}

.mi--cafe1 {
    background-position: center;
    background-size: cover;
    margin: 4rem;
    background-image: url("../img/cafe-espresso.jpg");
}

.mi--cafe2 {
    background-position: center;
    background-size: cover;
    margin: 4rem;
    background-image: url("../img/cafe-americano.jpg");
}

.mi--cafe3 {
    background-position: center;
    background-size: cover;
    margin: 4rem;
    background-image: url("../img/cafe-capuchino.jpg");
}

.mi--cafe4 {
    background-position: center;
    background-size: cover;
    margin: 4rem;
    background-image: url("../img/cafe-con-leche.jpg");
}

.mi--cafe5 {
    background-position: center;
    background-size: cover;
    margin: 4rem;
    background-image: url("../img/cafe-latte.jpg");
}

.mi--cafe6 {
    background-position: center;
    background-size: cover;
    margin: 4rem;
    background-image: url("../img/cafe-mocca.jpg");
}

/* Fin del main de Cafes */

/* Inicio del main de Tortas */

.titulo-tortas {
    margin-top: 3rem;
    padding: 30px;
    font-size: 3rem;
    font-weight: 700;
    color: white;
}

.container-tortas {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
    margin-bottom: 10rem;
    background-color: #3F292B;
    border-radius: 20px;
}

.tortas {
    width: 20rem;
    height: 20rem;
    box-shadow: 0 10px 20px rgba(0,0,0,0.23), 0 6px 6px rgba(0,0,0,0.27);
    border: 0 solid white;
}

.mi--torta1 {
    background-position: center;
    background-size: cover;
    margin: 4rem;
    background-image: url("../img/torta-brownie-limon.jpg");
}

.mi--torta2 {
    background-position: center;
    background-size: cover;
    margin: 4rem;
    background-image: url("../img/torta-brownie.jpg");
}

.mi--torta3 {
    background-position: center;
    background-size: cover;
    margin: 4rem;
    background-image: url("../img/torta-budin-zanahoria.jpg");
}

.mi--torta4 {
    background-position: center;
    background-size: cover;
    margin: 4rem;
    background-image: url("../img/torta-budin-chocolate.jpg");
}

.mi--torta5 {
    background-position: center;
    background-size: cover;
    margin: 4rem;
    background-image: url("../img/torta-dona.jpg");
}

.mi--torta6 {
    background-position: center;
    background-size: cover;
    margin: 4rem;
    background-image: url("../img/torta-dona-chocolate.jpg");
}

.mi--torta7 {
    background-position: center;
    background-size: cover;
    margin: 4rem;
    background-image: url("../img/torta-muffins-frambuesa.jpg");
}

.mi--torta8 {
    background-position: center;
    background-size: cover;
    margin: 4rem;
    background-image: url("../img/torta-muffins-chips.jpg");
}

.mi--torta9 {
    background-position: center;
    background-size: cover;
    margin: 4rem;
    background-image: url("../img/torta-medialuna.jpg");
}

/* Fin del main de tortas */

/* Inicio del main de Nosotros */

.inicio-nosotros {
    background-image: linear-gradient(rgba(0,0,0,0.466), rgba(0,0,0,0.473)), url(../img/nosotros-principal.jpg);
    width: 100%;
    height: 90vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.inicio-nosotros h2 {
    color: white;
    font-size: 3rem;
    font-weight: 700;
}

.nuestra-historia {
    display: flex;
    align-items: center;
    background-color: #3F292B;
    border-radius: 20px;
    padding: 4rem;
    margin: 4rem 9rem;
}

.imagen-historia {
    height: 40%;
    width: 40%;
}

.texto-nosotros {
    text-align: center;
    margin: 2rem;
    color: white;
}

.texto-nosotros h3 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.texto-nosotros p {
    font-size: 1.2rem;
}

.invitacion {
    display: flex;
    flex-direction: row-reverse;
    background-color: #3F292B;
    align-items: center;
    border-radius: 20px;
    padding: 4rem;
    margin: 4rem 9rem;
}

.imagen-interior {
    height: 40%;
    width: 40%;
}

.texto-invitacion {
    text-align: center;
    margin: 6rem 2rem;
    color: white;
    padding: 20px;
}

.texto-invitacion h3 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.texto-invitacion p {
    font-size: 1.2rem;
}

/* Fin del main de Nosotros */


/* Inicio del main de Contacto */
.texto-contacto {
    color: white;
    text-align: center;
    /* margin: 4rem; */
}

.texto-contacto h2 {
    font-size: 2.5rem;
}

.texto-contacto p {
    font-size: 1.1rem;
}

.container-formulario {
    background-color: #3F292B;
    padding: 6rem;
    margin: 8rem 4rem;
    border-radius: 20px;
    color: white;
}

.boton-enviar {
    transition: 1s;
}

.boton-enviar:hover {
    transform: scale(1.1);
}

/* Fin del main de Contacto */


/* Inicio del footer */

.footer  {
    background-color: #DBBEA1;
}

.redes {
    width: 40px;
    height: 40px;
}

/* Fin del footer */



/* Inicio de medias queries de Nosotros */
@media (max-width: 1200px) {
    .nuestra-historia {
        margin: 2rem 3rem;
        padding: 3rem;
    } 

    .texto-nosotros h3 {
        font-size: 2.3rem;
    }
    
    .texto-nosotros p {
        font-size: 1.1rem;
    }

    .invitacion {
        margin: 2rem 3rem;
        padding: 3rem;
    }

    .texto-invitacion h3 {
        font-size: 2.3rem;
    }
    
    .texto-invitacion p {
        font-size: 1.1rem;
    }
}

@media (max-width: 992px) {
    .nuestra-historia {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
    }

    .imagen-historia {
        width: 60%;
        height: 60%;
    }

    .texto-nosotros h3 {
        font-size: 2rem;
    }
    
    .texto-nosotros p {
        font-size: 1rem;
    }

    .invitacion {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
    }

    .imagen-interior {
        width: 60%;
        height: 60%;
    }

    .texto-invitacion {
        margin: 2rem;
    }

    .texto-invitacion h3 {
        font-size: 2rem;
    }
    
    .texto-invitacion p {
        font-size: 1rem;
    }
}

/* Fin de medias queries de Nosotros */